@model BlogIsaacSam.Models.Data.Post
@{
    ViewBag.Title = "Add Post";
}

<h2>Add Post</h2>

<div class="col-xs-12">
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    <div class="form-group">
        <label>Title</label>
        @Html.TextBoxFor(x => x.Title, new { @class = "form-control", placeholder = "Title" })
        <label>Details</label>
        @Html.TextAreaFor(x => x.Content, new { @class = "form-control", placeholder = "What are your thoughts?" })
    </div>
        <button type="submit" class="btn btn-sm btn-primary">Post</button>
    }
</div>
