@{
    ViewBag.Title = "Home Page";
}

<style>
    .postbox {
        border: 2px solid black;
        margin: 2.5%;
        padding: 2.5%;
    }
</style>

<div class="jumbotron">
    <h1>JANINE'S BLOG</h1>
    <p class="lead">Welcome to my blog! Here's where you'll find my blog posts.</p>
</div>

<!--Use AJAX to load blog posts

    SAMPLE BELOW-->

<div class="postbox row" id="0">
    <h3>Author</h3>
    <h2>Title</h2>
    <p>This is the content of the post. We should configure the most recent post to appear here.</p>
    <h6>Posted 1/1/11</h6>
</div>
