@{
    ViewBag.Title = "Posts";
}

<h2>Posts</h2>

<style>
    .postbox {
        border: 2px solid black;
        margin: 2.5%;
        padding: 2.5%;
    }
</style>

<!--Use AJAX to load blog posts

    SAMPLE BELOW-->

<div class="postbox row" id="0">
    <h3>Author</h3>
    <h2>Title</h2>
    <p>This is the content of the post. This incredibly large box should represent the post making it to the page.</p>
    <h6>Posted 1/1/11</h6>
</div>

<div class="postbox row" id="1">
    <h3>Author</h3>
    <h2>Title</h2>
    <p>This is the content of the post. This incredibly large box should represent the post making it to the page.
    Strangely enough, this appears to be a second post. How odd. I wonder how math works. Do you? I don't know.
    This text is placed into here as merely a test, why are you reading it so much?</p>
    <h6>Posted 1/1/11</h6>
</div>
